{% load bootstrap3 %} {% bootstrap_messages %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Basic Form</title>

    <meta charset="utf-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body style="padding-top: 60px; background-color: #f5f7f8 !important">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <h2>Form</h2>

          <form action="" method="post">
            <input type="hidden" />

            {%csrf_token %} {% bootstrap_form form %}

            <div class="form-group">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
